
.compWrapper {
    /* background-color: rgb(102, 229, 102); */
    width: 20%;
    text-align: center;

    margin: 10px 30px;

    display: flex;

    flex-direction: column;
    align-items: center;


}


/* for pc screen and landscape orient: */
@media only screen and (min-width: 600px) and (orientation: landscape) {


    .compWrapper {
        width: 13%;

    }



}




/* forsmaller screen: */
@media only screen and (max-width: 445px)  {

    .compWrapper {
        width: 30%;
        /* background-color: red; */

    }

}











.imageWrapper {

    border-radius: 15px;
    border: 2px solid rgb(255, 255, 255);
    margin-bottom: 0;
    width: 100%;

    /* box-shadow: 0px 10px 5px rgba(117, 115, 115, 0.8); */

}




.title {
    background-color: rgb(251, 251, 251);
    width: 80%;
    margin-top: 0;
    border-radius: 0 0 5px 5px;
    padding: 7px 0;
}


