:root {
    --pink:rgb(255,196,185);
    --dark: rgb(96,68,67);
    --light: rgb(147,147,147);
}




/* FONTS: */
/* main thick: */
@font-face {
    font-family: 'mainTHICK';
    src: url('/fonts/logo/SinkinSans-600SemiBold.otf');
}

@font-face {
    font-family: 'mainTHIN';
    src: url('/fonts/logo/SinkinSans-100Thin.otf');
}



/* curly: */
@font-face {
    font-family: 'fancyCurly';
    src: url('/fonts/logo/Jasmine.otf');
}



html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'mainTHIN';
    font-size: 100%;
}


a {
    text-decoration: none;
    line-height: 3rem;

}

