.logoAndMenuWrapper {
    /* background-color: red; */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;


}






.logoContainer {
    width: 20%;
}


.logoWrapper {
    width: 40%;
    margin: 0 auto;
    /* background-color: rgb(238, 164, 164); */


}

@media only screen and (min-width: 600px) and (orientation: landscape) {


    .logoWrapper {
        width: 20%;;
    }


}




.hamburgerWrapper {
    margin-left: 30px;
}





.navigationWrapper {
    position: relative;
    background-color: rgb(125, 171, 232);
    width: 100%;
    height: auto;


}




.navigation {
    display: flex;
    flex-direction: column;
    /* background-color:rgba(206, 48, 20, 0.8); */
    text-align: center;

    position: absolute;
    width: 100%;
    /* padding: 30px; */

    transform: translateX(-150%);

    transition: transform  0.8s ease-in-out;

}



.navigation > *:active, .navigation > *:hover {
    /* color: rgb(255, 255, 255);
    background-color: var(--dark);
    font-weight: bolder;
    font-size: 2rem; */

}



.hello {
    background-color: rgb(178, 239, 143);
    padding: 50px;
    color: rgb(227, 105, 105);
}
