
.wrapper {
    background-color: rgba(255, 192, 203, 0.579);
    width: 100%;
    padding: 10px 40px;
    box-sizing: border-box;
    word-wrap: break-word;


    display: flex;
    justify-content: space-between;
    align-items: center;

}








.goToMessagesButton {

    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.goToMessagesButton > button {
    background-color: rgb(241, 108, 241);
    padding: 20px 25px;
    border: none;
    border-radius: 10px;
}






.email {
    /* background-color: rgb(226, 140, 140); */
    /* width: 30%; */
    margin-right: 20px;
    text-align: right;
}


.message {
    /* background-color: green; */
    /* width: 70%; */

}




.archiveMessageButton {
    /* background-color: rgb(244, 176, 176); */
    border: none;
    padding: 10px;
    border-radius: 3px;




}





/* for smaller screen: */
@media only screen and (max-width: 750px)  {
    .wrapper {
        flex-direction: column;
    }

    .email {
        width: 100%;
        text-align: center;
    }

    .message {
        text-align: center;
    }



}

