

/* recommendation component: ❗❗❗❗  */
.recWrapper {
    background-color: rgb(241, 241, 241);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    width: 85%;
    margin: 20px auto;

}

.quote {
    font-style: italic;
    line-height: 150%;

}


.name {
    font-family: mainTHICK;
}

/*  END OF:  recommendation component: */
















/* PAGE: */

.mainWrapper {
    /* background-color: red; */
    background-image: url('/media//unsplash/lowRes/backgrounds-Portrait8NARROW.jpg');
    background-size: cover;

    padding-top: 20px;

}

/* for pc screen and landscape orient: */
@media only screen and (min-width: 600px) and (orientation: landscape) {
    .mainWrapper {
        /* background-image: url('/media/unsplash/lowRes/backgrounds-Portrait8.jpg'); */
    }

}






.columnsWrapper {
    /* background-color: rgba(94, 226, 94, 0.688); */
    box-sizing: border-box;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: flex-start;


    width: 100%;
}



.column {
    /* background-color: rgba(255, 83, 83, 0.707); */
    margin: 20px 0;
    width: 45%;
}










/* for smaller screen: */
@media only screen and (max-width: 445px)  {

    .columnsWrapper {
        flex-direction: column;
    }

    .column {
        width: 95%;
        margin: 0;
}


}