

/* recommendation component: */

.recWrapper {
    background-color: rgb(241, 241, 241);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    width: 45%;
}

.quote {
    font-style: italic;

}


.name {
    font-family: mainTHICK;
}



